<style>
/* GitHub background and link colors: light default and dark dimmed */
svg {background-color: #ffffff;}
svg > g {fill: #0969da;}
#source-5 > :nth-child(-n + 3) {stroke: #0969da;}
@media (prefers-color-scheme: dark) {
  svg {background-color: #22272e;}
  svg > g {fill: #539bf5;}
  #source-5 > :nth-child(-n + 3) {stroke: #539bf5;}
}
</style>
